@charset="UTF-8";
*{padding:0;margin: 0;font-family: 宋体}
body{margin: 0 auto;}
article,p,.books{line-height: 1.5em;margin:0.7em 0;}
article{text-indent: 0.5em;}
p{text-indent: 2em;}
h3{font-size:1.2em;line-height: 2em}
h4{font-size:1.1em;line-height: 1.5em}
.header{position:relative;height:2em;background: #999;}
.main{padding: 1em;background: #ddd}
.footer{height:2em;background: black;}
.logo{margin-left:1em;width:4em;height:2em;}
.nav{position:absolute;right:1.5em;top:0}
.nav_li{display:inline-block;border-radius:5px;width: 2em;margin-right:0.5em;list-style: none;height:2em;}
.nav_li a{text-align: center;text-decoration: none;color:white;font-size: 0.8em;line-height:2em;vertical-align: middle;}
.nav_li a:hover{color:#bbb;background:red;}
.main_pics{width:3em;height: 3em;margin:0.5em 0; }
.artcle,.pics{margin:0.5em 0;background: #fff;padding:1em;}
.author{margin-right: 1.5em;}
.artcle_table{width:100%;text-align: left;}
.artcle_table th{background:black;font-weight: bold;color:white;}
.books{margin-left:2em;}
.artcle_books{padding-left: 0;text-indent: 0}
.artcle_table tfoot{background:#eee;font-weight: bold}
.footer{text-align: center;color:white;padding: 1em}
aside{background: white;padding:1em;}
aside h3{text-align: center}
.form_table{width:100%;margin:0 auto;}
.form_table td{height:1.5em;}
.form_left{text-align: right}
.form_right{text-align: left;padding-left: 1em}
.form_prompt{font-size: 0.7em;color:#aaa;}
.form_des{vertical-align: top;}
.form_sub{text-align: center}
#form_submit{width:10em;height:1.5em;background: blue;color:white;border-radius: 0.5em;font-size: 1.3em}